body {
    margin-left: 35%;
    margin-right: 35%;
    max-width: 100%;
    background-image: url(img/sfondo.png)
    font-family 'Poppins', sans-serif;
    font-size: 1.1rem;
}

.dimensione {
    max-width: 100%;
}

.border-padding {
    border: solid;
    border-color: rgb(153, 152, 152);
    border-width: 3px;
    padding: 10px;
}

.maiuscolo {
    text-transform: uppercase;
}

.bianco {
    color: white;
}

header {
background-color: rgb(44, 135, 163);
background-size: 90px;
}

.centro {
    text-align: center;
}

.grigio {
    color:grey;
}

.viola {
    color: rgb(157, 37, 168);
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.sfondo-blu {
    background-color: rgb(69, 104, 231);
}

.sfondo-grigio {
    background-color: rgba(197, 197, 197, 0.758);
}

.tabella-centrata {
    margin-left: auto;
    margin-right: auto;
}

table {
    width: 400px;
    height: 300px;
    border: solid;
    border-width: 2px;
    border-bottom-color: blue;
}

tr {
    text-align: center;
}

thead, tfoot {
    width: 50px;
    height: 50px;
}

form {
    background-color: rgb(202, 202, 202);
    padding: 3px;
}

button {
    background-color: rgba(28, 58, 206, 0.759);
    border-color: transparent;
}

.sfondo-grigio {
    background-color: rgb(202, 202, 202);
    padding: 3px;
}

footer {
    background-color: rgba(47, 47, 230, 0.236);
}