.rosso {
    color:red;
}

.maiuscolo {
    text-transform: uppercase;
}

.grigio {
    color: grey;
}


.header {
    color: rgb(29, 149, 151);
    background-color: rgb(253, 243, 186);
}

#ridimensiona {
    height: 300px;
}

#first-font {
    font-family: Arial, Helvetica, sans-serif;
}

#second-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin-left: 30%;
    margin-right: 30%;
}

p, li {
    font-family: Arial, Helvetica, sans-serif ;
}

li {
    line-height: 38px;
}

#centro {
    text-align: center;
}
